body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: $bg-yellow;

    @include breakpoint-down(small){
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
    }
}

img{
    width: 730px;
}

p{
    font-size: 18px;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: $red;

    &:link{
        color: $red;
    }
    
    &:hover{
        color: $orange;
        transition: 0.4s ease-in-out;
    }

    &:active{
        text-decoration: underline;
    }
}


.anim-heading{
    font-size: 32px;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 24px 4px 0px;
    color: firebrick;
    border-radius: 8px;

    &:hover{
        padding: 4px 48px;
        background: $orange;
        color: white;
    }

}


button{
    font-weight: 600;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid $orange;

    &:hover{
        transition: 0.4s ease-in-out;
        background-color: rgba(238, 151, 80, 0.5);
        color: white;
    }
}

#tab1{
    border-width: 2px;
    border-color: $red;
    border-style: double;
    background: radial-gradient(center, yellow, red);

    th{
        border-width: 2px;
        border-color: $red;
        border-style: double;
    }
    td{
        border-width: 2px;
        border-color: $red;
        border-style: double;
    }

    margin-bottom: 20px;
}


#tab2{
    border-width: 5px;
    border-color: $orange;
    border-style: dotted;

    
    th{
        border-width: 2px;
        border-color: $red;
        border-style: dashed;
    }
    td{
        border-width: 2px;
        border-color: $red;
        border-style: hidden;
    }

    margin-bottom: 20px;
}

main{
    margin: 40px;
}

.blogpost{
    .blogpost-img{
        img{
            width: 730px;
        }
    }

    p{
        font-style: italic;
    }
}

@media print {
    p.bodyText {
        font-family:'Times New Roman', Times, serif;
    }
    nav{
        display: none;
    }
    .logo-home{
        display: none;
    }
}


:target {
    border: 3px solid $red;
}

@font-face{
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

p{
    font-family: 'Montserrat';
}