body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    background-color:  hsla(47, 100%, 92%, 1);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../doc/montserrat-v15-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../doc/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../doc/montserrat-v15-latin-regular.woff2') format('woff2'), 
         url('../doc/montserrat-v15-latin-regular.woff') format('woff'), 
         url('../doc/montserrat-v15-latin-regular.ttf') format('truetype'), 
         url('../doc/montserrat-v15-latin-regular.svg#Montserrat') format('svg');
}

aside {
    background: linear-gradient(to left, #348f50, #56b4d3);
    background: -webkit-gradient(linear, to left, color-stop(#348f50), color-stop(#56b4d3));
    background: -moz-linear-gradient(to left, #348f50, #56b4d3);

    padding: 10px;
    width: 250px;
    float: right;
    font-variant: small-caps;
  }

img{
    width: 730px;
    @include breakpoint-down(medium){
        width: 90%;
    }
}

p{
    font-size: 18px;
    line-height: 1.5em;

    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6{
    color: $red;
}

a{
    text-decoration: none;
    color: $red;

    &:hover{
        color: $orange;  
        transition: 0.4s ease-in-out;
    }
    
    h3{
        &:hover{
            color: $orange;  
            transition: 0.4s ease-in-out;
        } 
    }

    &:active{
        text-decoration: underline;
    }
}


.anim-heading{
    font-size: 32px;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 24px 4px 0px;
    color: firebrick;
    border-radius: 8px;

    &:hover{
        padding: 4px 48px;
        background: $orange;
        color: white;
    }
}


button{
    font-weight: 600;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid $orange;

    &:hover{
        transition: 0.4s ease-in-out;
        background-color: rgba(238, 151, 80, 0.5);
        color: white;
    }
}

#tab1{
    border-width: 2px;
    border-color: $red;
    border-style: double;

    th{
        border-width: 2px;
        border-color: $red;
        border-style: double;
    }
    td{
        border-width: 2px;
        border-color: $red;
        border-style: double;
    }

    margin-bottom: 20px;
}


#tab2{
    border-width: 5px;
    border-color: $orange;
    border-style: dotted;
    margin-bottom: 20px;

    th{
        border-width: 2px;
        border-color: $red;
        border-style: dashed;
    }
    td{
        border-width: 2px;
        border-color: $red;
        border-style: hidden;
    }
}

main{
    margin: 40px;
}

.blogpost{
    p{
        font-style: italic;
    }
}

@media print {
    p.bodyText {
        font-family:'Times New Roman', Times, serif;
    }
    nav{
        display: none;
    }
    .logo-home{
        display: none;
    }
}


:target {
    border: 3px solid $red;
}

