footer .social-media {
  background-color: gray;
}

footer .social-media img {
  width: 26px;
}

table, th, td{
  border: 1px solid black;
}

aside {
  background: #a7dba4;
  padding: 10px;
  width: 250px;
  float: right;
}

article .article-text{
  margin-right: 200px;
}
